@import "~antd/dist/antd.css";

:root {  
    --yakit-bg-color: #ffffff;  
    --yakit-text-color: #000000;  
    --yakit-primary-color: #3370ff;  
    /* 其他浅色主题变量 */  
}  
  
[data-theme="dark"] {  
    --yakit-bg-color: #1a1a1a;  
    --yakit-text-color: #ffffff;  
    --yakit-primary-color: #4080ff;  
    /* 深色主题变量 */  
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(193, 193, 193);
    background: #c1c1c1;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(193, 193, 193);
    border-radius: 10px;
    background: #ededed;
}
