@import "~antd/dist/antd.css";

:root {  
    /* 浅色主题 */  
    --yakit-bg-color: #ffffff;  
    --yakit-text-color: #31343f;  
    --yakit-border-color: #eaecf3;  
    --yakit-header-bg: #ffffff;  
    --yakit-header-color: #85899e;  
    --yakit-primary-1: #f0f2f5;  
    --yakit-primary-5: #3370ff;  
}  
  
[data-theme='dark'] {  
    /* 深色主题 */  
    --yakit-bg-color: #1a1d29;  
    --yakit-text-color: #ffffff;  
    --yakit-border-color: #2a2d3a;  
    --yakit-header-bg: #1a1d29;  
    --yakit-header-color: #b4bbca;  
    --yakit-primary-1: #2a2d3a;  
    --yakit-primary-5: #4992ff;  
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(193, 193, 193);
    background: #c1c1c1;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(193, 193, 193);
    border-radius: 10px;
    background: #ededed;
}
